body{
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(9, 8, 8, 0.871);
    flex-direction: column;
    gap: 50px;
    color: aliceblue;
}
#PLAY{
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    background-color: aliceblue;
   
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.10s;
}
#PLAY:hover{
    letter-spacing: 0.25rem;
    background-color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
    color: var(--clr);
}
#PLAY:before{
    position: absolute;
    content: '';
    inset:2px;
    background-color:rgba(9, 8, 8, 0.9); ;
}
#PLAY span{
    position: relative;
    z-index:1 ;
}
